* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: gray;
  width: 100%;
  text-align: center;
  padding: 5px;
}
h1 {
  color: white;
  font-size: 46px;
  margin: 20px;
}
.banner {
  background-color: rgb(194, 236, 131);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.section h1 {
  font-size: 50px;
  color: black;
  text-align: center;
}
.circle {
  display: flex;
  justify-content: center;
}
.oval {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  background-color: turquoise;
  margin: 30px;
}
.adjust {
  display: flex;
  justify-content: center;
}
.main {
  background-color: red;
  text-align: center;
  width: 50%;
  height: 450px;
}
.main h1 {
  line-height: 450px;
  margin: 0;
}
.article {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.a1 {
  background-color: mediumspringgreen;
  text-align: center;
  height: 147px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  display: flex;
}
.block {
  width: 25%;
  margin: 5px;
  background-color: maroon;
  height: 60vh;
}
.footer {
  width: 100%;
  background-color: rgb(3, 3, 77);
  text-align: center;
  height: 125px;
}
.footer h1 {
  line-height: 125px;
}
